body {
  font-family: Arial, sans-serif;
  background-image: 
    
    url("./images/admin-dashboard.png");


  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.dashboard {
  width: 80%;
  margin: auto;
  text-align: center;
}

.cards {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 40px;
}

.card {
  background: white;
  padding: 30px;
  width: 200px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 8px;
}

.card a, button {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 15px;
  background: #007bff;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#a{
  
  
  
  
  background: rgba(250, 169, 169, 0.95);
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 30px;

}
